* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

.top-navigation {
    background-color: #fafafa;
    background-repeat: no-repeat;
    width: 100%;
    height: 42px;
  }
  .container{
    max-width: 1170px;
    width: 100%;
   
  }
.top-navigation .navigation-block ul{
    display: flex;

}
.top-navigation .navigation-block li{
    list-style-type: none;
}
.top-navigation .navigation-block li a{
    text-decoration: none;
    color: #777777;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 12px;
 }
   .top-navigation .navigation-block .left-top-navigation {
    margin-top: 15px;
   
 }
.top-navigation .navigation-block .right-top-navigation {
   justify-content: right;
}
.top-navigation .navigation-block .right-top-navigation li{
    margin-top: 15px;
}
.top-navigation .navigation-block .left-top-navigation a{
margin-right: 20px;
}

.top-navigation .navigation-block .right-top-navigation a{
    margin-left: 20px;
}
.top-navigation .navigation-block .right-top-navigation li i{
    margin-right: 4px;
}
.top-navigation .navigation-block .right-top-navigation button{    
    border: none;
    border-radius: 5px;
    background-color: #e6e6e6;
    color: #555555;
    padding: 8px 9px;
    margin-left: 12px;
    margin-top: 7px;
}
.header-navigation{
   
    width: 100%;
    height: 160px;
}
.header-navigation .supermarket {
    display: flex;
   
}
.header-navigation .supermarket h4{
   color: #191a1c;
   font-family: 'Raleway-ExtraBold', sans-serif;
    font-size: 26px;
    margin-top: 40px;

}
.header-navigation .supermarket img{
    margin-top: 30px;
}
.header-navigation .search-container {
    margin-top: 25px;
   
    
}
.header-navigation .search-container form{
    text-align: center;
    display: flex;
    
  }
.header-navigation .search-container button {
   
    padding-right: 2%;
    padding-left: 2%;
    background: #ffd200;
    font-size: 17px;
    border: 1px solid #ffd200;
    border-radius: 2px;
    cursor: pointer;
  }

  .header-navigation .search-container form input{
   width: 100%;
   height: 45px;
   border: 1px solid #e8e8e8;
   padding-left: 10px;
   font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
  }
  #search-input{
    position:relative;
    width: 100%;
    border-radius: 2px;
  }
  #search-input-dropdown{
    list-style: none;
    padding:0;
    margin:0;
    padding-left: 10%;
    padding-right: 5px;
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 13px;
  }
  .basket{
    padding-right: 0;
  }
  .shopping-basket{
    display: flex;
    background-color: #fff;
    margin-top: 25px;
    
    width: 100%;
    height: 45px;
    align-items: center;
    
  }
  .shopping-basket i{
    padding-right: 30px;
    padding-left: 14px;
  }
  .shopping-basket p{
    color: #555555;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
    padding-right: 5px;
  }
  .shopping-basket span{
    color: #408de4;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
  }
 
   .general-block a{
    text-decoration: none;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 14px;
    color: #222222;
    }
  .general-block .left-block{
    background-color: #ffd200;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
    display: flex;
  }
  .general-block .left-block .col i{
    float: right;
  }
  .general-block .center-block{
   background-color: #408de4;
    display: flex;
    align-items: center;
  }
  .general-block .center-block a{
    color: #ffffff;
    float: left;
    text-align: center;
    font-family: 'Raleway-SemiBold', sans-serif;
    font-size: 12px;
    padding: 10px 10px;
  }
 
   .center-block .icon {
    display: none;
  }

  .general-block .center-block .fashion{
    background-color: #ea5c5c;
    color: #fff;
    padding: 2px;
    margin-right: 2px;
  }
  .general-block .center-block .electronics{
    background-color: #24bbbc;
    color: #fff;
    padding: 2px;
    margin-right: 2px;
  }
  .right-block{
    background-color: #408de4;
    display: flex;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
    align-items: center;
  }
  .right-block p{
    color: #fff;
    margin-right: 5px;

  }
  .right-block span{
    background-color: #ffd200;
    padding: 8px;
  }
  .quick-link-item{
    display: flex;
    color: #555555;
    font-family: 'Roboto-Regular', sans-serif; 
    font-size: 13px;
    text-align: center;
    padding-top: 18px;
  }
  .quick-link-item ul{
    display: flex;
  }
  .quick-link-item li{
    list-style-type: none;
  }
  .quick-link-item li a{
    text-decoration: none;
    padding-left: 14px;
    padding-right: 9px;
    color: #555555;
    font-family: 'Roboto-Regular', sans-serif; 
    font-size: 13px;
    text-align: center;
  }
  .quick-link-item i{
    color: #408de4;
    padding-right: 10px;
  }
  .quick-link-item span{
    color: #222222;
  }
 
  .sale-block{
    text-align: center;
    margin-top: 30px;
    
  }
  .sale-block .offer-day{
    background-image: url(/img/Cross-Bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 502px;
    padding-top: 60px;
    color: #fff; 
    font-family: 'Poppins-SemiBold', sans-serif; 
    text-align: left;
    padding-left: 50px;
  }
  .sale-block .offer-day h4{
    font-size: 40px;
    padding-bottom: 10px;
   
  }
  .sale-block .offer-day button{
    background-color: #fff;
    color: #333333;
    border: none;
    border-radius: 2px;
    padding: 8px 30px;
    font-family: 'Cabin-Bold', sans-serif; 
    font-size: 12px;
    font-weight: bold;
  }
  .sale-block .offer-day p{
    padding-bottom: 20px;
    font-size: 16px; 
    font-family: 'Poppins-Medium', sans-serif; 

  }
  .sale-block .item-canon{
    background-color: #d0d0d0;
    padding-top: 60px;
    padding-bottom: 56px;
    color: #fff; 
    font-family: 'Poppins-SemiBold', sans-serif; 
    text-align: left;
    padding-left: 34px;
    }
  .sale-block .item-canon h4{
    color: #2a2b2e;
    font-size: 21px;
    padding-bottom: 10px;
    
  }
  .sale-block .item-canon p{
    color: #555555;
    padding-top: 13px;
    padding-bottom: 16px;
  }
  .sale-block .item-canon button{
    background-color: #24bbbc;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 8px 30px;
    font-family: 'Cabin-Bold', sans-serif; 
    font-size: 12px;
  }
 
  .sale-block .item-letv{
    background-color: #d0d0d0;
    padding-top: 60px;
    padding-bottom: 32px;
    color: #fff; 
    font-family: 'Poppins-SemiBold', sans-serif; 
    margin-top: 47px;
      
  }
  .sale-block .item-letv h4{
    color: #2a2b2e;
    font-size: 21px;
    padding-bottom: 10px;
   
   
  }
  .sale-block .item-letv p{
    color: #555555;
    padding-bottom: 10px;
  
  }
  .sale-block .item-letv span{
    color: #fff;
    font-size: 14px;
    padding-bottom: 15px;
    font-weight: bold;
 
  }

  .sale-block .item-letv button{
    margin-top: 16px;
    margin-bottom: 10px;
    background-color: #fcf7f4;
    color: #323232;
    border: none;
    border-radius: 2px;
    padding: 8px 30px;
    font-family: 'Cabin-Bold', sans-serif; 
    font-size: 12px;
    font-weight: bold;
    
  }
  .right-arrivals{
    display: flex;
  }
 .right-arrivals li{
   list-style: none;
   text-decoration: none;
   }
  .right-arrivals a{
    text-decoration: none;
    padding-left: 5px;
  }

  .new-arrivals{
    margin-top: 50px;
  }
  .deals{
    display: flex;
    text-align: center;
    background-color: #eeeeee;
    padding-bottom: 9px;
  }
  .deals h5{
    padding-top: 25px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Raleway-Bold', sans-serif; 
    
  }
  .deals i{
    margin-top: 20px;
    border: 1px solid #bbb8b8;
    border-radius: 20px;
    padding: 3px 8px;
    background-color: #f7f7f7;
  }
  .deals .angle{
    text-align: right;
  }

  .second-block img{
    width: 100%;
    border: 1px solid #e5e5e5;
  }
  .arrivas-text {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 10px;
 
  }
  .arrivas-text h6{
    font-family: 'Roboto-Regular', sans-serif; 
    font-size: 13px;
    color: #444444;
  }
  .arrivas-text p{
    font-family: 'Roboto-Regular', sans-serif; 
    font-size: 12px;
    font-weight: bold;
    color: #222222;
    padding-top: 9px;
  }
  .rating-area {
    text-align: center;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }
  .rating-area:not(:checked) > input {
    display: none;
  }
  .rating-area:not(:checked) > label {
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 25px;
    line-height: 25px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
  }
  .rating-area:not(:checked) > label:before {
    content: '★';
  }
  .rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
  }
  .rating-area:not(:checked) > label:hover,
  .rating-area:not(:checked) > label:hover ~ label {
    color: gold;
  }
  .rating-area > input:checked + label:hover,
  .rating-area > input:checked + label:hover ~ label,
  .rating-area > input:checked ~ label:hover,
  .rating-area > input:checked ~ label:hover ~ label,
  .rating-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
  }
  .rate-area > label:active {
    position: relative;
  }
  .arrivals-center h5{
    padding-top: 5px;
    text-align: left;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Raleway-Bold', sans-serif; 
  }
  .arialls-img{
    display: flex;
    padding-top: 9px;
    
  }
  .arialls-img img{
    border:  1px solid #bbb8b8;
    width: 100%;
  }
  .right-arrivals{
    padding-bottom: 21px;
  }
  .right-arrivals li a{
    text-decoration: none;
    color: #777777;
    font-family: 'Roboto-Medium', sans-serif; 
    font-size: 12px;
    padding-right: 16px;
    padding-top: 15px;
    }

  .right-arrivals i{
    text-align: right;
  }
  .angle-right{
    padding-left: 10px;
    
  }
  .angle-right i{
    border: 1px solid #e5e5e5;
    padding: 3px 5px;
  }
  .product{
    margin-top: 20px;
    text-align: center;
  }
  .deals-timer{
    display: flex;
  }
  .best-deals{
    max-width: 195px;
  }
  .best-deals h4{
    color: #222222;
    font-family: 'Raleway-Bold', sans-serif; 
    font-size: 17px;
    margin-top: 23px;
  }
  .best-deals p{
    color: #999999;
    font-family: 'Roboto-Regular', sans-serif; 
    font-size: 12px;

  }
  .timer{
    max-width: 215px;
  }
  .timer__items {
    display: flex;
    font-size: 17px;
    background-color: #5399e7;
    color: #fff;
    border: 1px solid #e5e5e5;
    margin-top: 23px;
    padding-left: 15px;
  }

  .timer__item {
    position: relative;
    min-width: 45px;
    padding-bottom: 15px;
    text-align: center;
  }
      
  
  .timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 12px;
  }

  .timer__item:not(:last-child)::after {
    position: absolute;
    
  }
  .electronic{
    padding-top: 20px;
  }

.electronic .item-icon{
  background-color: #292929;
  text-align: center;
 padding-top: 25px;
 padding-bottom: 35px;
}
.electronic .item-icon h4{
  color: #fff;
  font-family: 'Raleway-ExtraBold', sans-serif; 
  font-size: 15px;
  padding-top: 10px;
}
.item-list-electronic{
  background-color: #222222;
  height: 464px;
}
.item-list-electronic li{
  list-style-type: none;
  color: #777777;
  font-family: 'Roboto-Regular', sans-serif; 
  font-size: 13px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 31px;
  border-bottom: 1px solid #2d2d2d;
}

.item-product-col {
  text-align: center;
}
.item-product-col .item-variant{
  border: 1px solid #e8e8e8;
  padding-top: 9px;
  padding-bottom: 5px;
}
.top-col{
  display: flex;
}
.item-product-col h5{
  color: #444444;
  font-family: 'Roboto-Regular', sans-serif; 
  font-size: 14px;
  text-align: center;
}

.button-col{
  display: flex;
 
}
.left-text{
  background-color: #d0d0d0;
  text-align: center;
}
.left-text h4{
  padding-top: 63px;
  color: #fff;
  font-family: 'Oswald-Medium', sans-serif; 
  font-size: 22px;
  text-decoration: underline solid #555555;
 
}
.left-text p{
  padding-top: 15px;
  color: #aaaaaa;
  font-family: 'Merriweather-Regular' sans-serif; 
  font-size: 12px;
  
}

.health{
  padding-top: 20px;
}

.health .item-icon-health{
background-color: #292929;
text-align: center;
padding-top: 25px;
padding-bottom: 35px;
}
.health .item-icon-health h4{
color: #fff;
font-family: 'Raleway-ExtraBold', sans-serif; 
font-size: 15px;
padding-top: 10px;
}
.item-list-health{
background-color: #222222;
height: 464px;
}
.item-list-health li{
list-style-type: none;
color: #777777;
font-family: 'Roboto-Regular', sans-serif; 
font-size: 13px;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 31px;
border-bottom: 1px solid #2d2d2d;
}

.item-product-health {
text-align: center;
}
.item-product-health .item-variant-health{
border: 1px solid #e8e8e8;
padding-top: 9px;
padding-bottom: 5px;
}
.top-col-health{
display: flex;
}
.item-product-health h5{
color: #444444;
font-family: 'Roboto-Regular', sans-serif; 
font-size: 14px;
text-align: center;
}

.button-col-health{
display: flex;

}
.left-text-health{
background-color: #d0d0d0;
text-align: center;
}
.left-text-health p{
  padding-top: 50px;
  color: #333333;
  font-family: 'Oswald-LightItalic' sans-serif; 
  font-size: 16px;
  
  }
.left-text-health h4{
padding-top: 15px;
padding-bottom: 10px;
color: #292929;
font-family: 'Oswald-Medium', sans-serif; 
font-size: 22px;
}
.left-text-health button{
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  color: #4f4f4f;
  font-family: 'Poppins-Medium', sans-serif; 
  font-size: 11px;
}

.home{
  padding-top: 20px;
}

.home .item-icon-home{
background-color: #292929;
text-align: center;
padding-top: 25px;
padding-bottom: 35px;
}
.home .item-icon-home h4{
color: #fff;
font-family: 'Raleway-ExtraBold', sans-serif; 
font-size: 15px;
padding-top: 10px;
}
.item-list-home{
background-color: #222222;
height: 464px;
}
.item-list-home li{
list-style-type: none;
color: #777777;
font-family: 'Roboto-Regular', sans-serif; 
font-size: 13px;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 31px;
border-bottom: 1px solid #2d2d2d;
}

.item-product-home {
text-align: center;
}
.item-product-home .item-variant-home{
border: 1px solid #e8e8e8;
padding-top: 9px;
padding-bottom: 5px;
}
.top-col-home{
display: flex;
}
.item-product-home h5{
color: #444444;
font-family: 'Roboto-Regular', sans-serif; 
font-size: 14px;
text-align: center;
}

.button-col-home{
display: flex;

}
.left-text-home{
background-color: #d0d0d0;
text-align: center;
}
.left-text-home h4{
  padding-top: 60px;
  padding-bottom: 10px;
  color: #292929;
  font-family: 'Oswald-Medium', sans-serif; 
  font-size: 22px;
  }
  .left-text-home span{
    font-weight: lighter;
  }

.left-text-home p{
  padding-top: 20px;
  color: #222222;
  font-family: 'Oswald-LightItalic' sans-serif; 
  font-size: 17px;
  
  }

.left-text-home button{
  padding: 8px 28px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #9cb75c;
  font-family: 'Cabin-Bold', sans-serif; 
  font-weight: bolder;
  font-size: 12px;
}


.food{
  padding-top: 20px;
}

.food .item-icon-food{
background-color: #292929;
text-align: center;
padding-top: 25px;
padding-bottom: 35px;
}
.food .item-icon-food h4{
color: #fff;
font-family: 'Raleway-ExtraBold', sans-serif; 
font-size: 15px;
padding-top: 10px;
}
.item-list-food{
background-color: #222222;
height: 464px;
}
.item-list-food li{
list-style-type: none;
color: #777777;
font-family: 'Roboto-Regular', sans-serif; 
font-size: 13px;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 31px;
border-bottom: 1px solid #2d2d2d;
}

.item-product-food {
text-align: center;
}
.item-product-food .item-variant-food{
border: 1px solid #e8e8e8;
padding-top: 9px;
padding-bottom: 12px;
}
.top-col-food{
display: flex;
}
.item-product-food h5{
color: #444444;
font-family: 'Roboto-Regular', sans-serif; 
font-size: 14px;
text-align: center;
}

.button-col-food{
display: flex;

}
.left-text-food{
background-color: #d0d0d0;
text-align: center;
}
.left-text-food p{
  padding-top: 60px;
  color: #222222;
  font-family: 'Oswald-LightItalic' sans-serif; 
  font-size: 17px;
  
  }
.left-text-food h4{
  padding-top: 15px;
  padding-bottom: 10px;
  color: #222222;
  font-family: 'Oswald-Medium', sans-serif; 
  font-size: 22px;
  }
  .left-text-food span{
    font-weight: lighter;
  }

.left-text-food button{
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  color: #323232;
  font-family: 'Cabin-Regular', sans-serif; 
  font-weight: bolder;
  font-size: 12px;
}
.summer{
  margin-top: 50px;
}
.summer-block{
  background-color: #cccccc;
  text-align: left;
}
.summer-block h4{
  color: #fff;
  font-family: 'Poppins-ExtraBold', sans-serif; 
  font-weight: bolder;
  font-size: 22px;
  padding-top: 55px;
  padding-left: 68px;
  padding-bottom: 10px;

}
.summer-block p{
  color: #dddddd;
  font-family: 'Merriweather-Italic', sans-serif; 
  font-size: 15px;
  padding-left: 118px;
  padding-bottom: 20px;
}
.summer-block button{
  color: #000000;
  font-family: 'Cabin_Condensed-Medium', sans-serif; 
  font-size: 11px;
  border: none;
  padding: 12px 14px;
  margin-left: 168px;
  margin-bottom: 57px;

}

.fusion-block{
  background-color: #cccccc;
  text-align: right;
}
.fusion-block h4{
  color: #fff;
  font-family: 'Poppins-ExtraBold', sans-serif; 
  font-weight: bolder;
  font-size: 22px;
  padding-top: 55px;
  padding-right: 72px;
  padding-bottom: 10px;

}
.fusion-block p{
  color: #dddddd;
  font-family: 'Merriweather-Italic', sans-serif; 
  font-size: 15px;
  padding-right: 67px;
  padding-bottom: 20px;
}
.fusion-block button{
  color: #000000;
  font-family: 'Cabin_Condensed-Medium', sans-serif; 
  font-size: 11px;
  border: none;
  padding: 12px 14px;
  margin-right: 117px;
  margin-bottom: 57px;

}





.brand-top{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 15px;
}
.brand{
  padding-bottom: 70px;
  text-align: center; 
}
.brand .brand-img{
  border: 1px solid #e8e8e8;
}
.features{
  text-align: center;
  align-items: self-end;
}
.features-block{
  text-align: center;
}
.features-block h6{
  font-family: 'Raleway-Bold', sans-serif; 
  font-size: 13px;
  color: #222222;
  padding-top: 17px;
  padding-bottom: 13px;
}
.features-block p{
  font-family: 'Roboto-Regular', sans-serif; 
  font-size: 13px;
  color: #999999; 
  padding-bottom: 40px;
}
.footer{
  background-color: #408de4;
}
.footer-address{
  padding-top: 25px;
  padding-bottom: 26px;
}
.telegram{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
.telegram .telegram-text{
  color: #ffffff;
  font-family: 'Raleway-Bold', sans-serif; 
  font-size: 14px;

}
.email form{
  display: flex;
  padding-bottom: 10px;
}

.form-control{
 max-width: 370x;
 width: 100%;
 padding-top: 10px;
 padding-left: 17px;
 padding-bottom: 10px;
 border: none;
}
#submit{
  border: none;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 23px;
  padding-right: 23px;
  background-color: #ffd200;
  font-family: 'Raleway-Bold', sans-serif; 
  font-size: 14px;
  color: #2c2c2c;
}
.social{
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 10px;
}
.social h6{
  color: #ffffff;
  font-family: 'Raleway-Bold', sans-serif; 
  font-size: 13px;
  padding-right: 17px;
}
.social-icon i {
  background-color: #fff;
  padding: 10px 12px;
  border-radius: 25px;
}
.contact-block{
  padding-top: 60px;
}
.logo-img{
  display: flex;
  align-items: center;
}
.logo-img h3{
  font-family: 'Raleway-Bold', sans-serif; 
  font-size: 25px;
}
.footer-block-logo .logo{
  display: flex;
  align-items: center;
}
.footer-block-logo .text p{
  color: #888888;
  font-family: 'Roboto-Regular', sans-serif; 
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 28px;
}

 .contact a li{
  list-style-type: none;
  padding-bottom: 20px;
}
 .contact  a{
  text-decoration: none;
  color: #888888;
  font-family: 'Roboto-Light', sans-serif; 
  font-size: 14px;
 }
.company-block{
  text-align: center;
}
.company-block .company-text {
padding-bottom: 36px;
color: #151515;
font-family: 'Raleway-SemiBold', sans-serif; 
font-size: 15px;
}
.company  a li{
 
  color: #888888;
  font-family: 'Roboto-Light', sans-serif; 
  font-size: 14px;
  padding-bottom: 15px;
  
 }
 .policy{
  text-align: center;
}
.policy .policy-text {
padding-bottom: 36px;
color: #151515;
font-family: 'Raleway-SemiBold', sans-serif; 
font-size: 15px;
}
.policy-info  a li{
  
  color: #888888;
  font-family: 'Roboto-Light', sans-serif; 
  font-size: 14px;
  padding-bottom: 15px;
  
 }
 .my-account{
  text-align: center;
}
.my-account .account-text {
padding-bottom: 36px;
color: #151515;
font-family: 'Raleway-SemiBold', sans-serif; 
font-size: 15px;
}
.account-info a li{
 
  color: #888888;
  font-family: 'Roboto-Light', sans-serif; 
  font-size: 14px;
  padding-bottom: 15px;
  
 }
 .contact h5{
  color: #888888;
  font-family: 'Roboto-Regular', sans-serif; 
  font-size: 12px;
  text-align: left;
  padding-top: 118px;
  padding-bottom: 30px;
 }
/*MEDIA SCREEN*/

/*max-width: 300px*/
@media only screen and (max-width: 300px) {

  
    
}

/*max-width: 480px*/
@media only screen and (max-width: 480px) {
   
}


/*max-width: (min-width: 480px) and (max-width: 768px)*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .header-navigation .supermarket h4 {
    display: none;
  }

  .center-block a:not(:first-child) {
    display: none;
  }

  .center-block a.icon {
    float: right;
    display: block;
  }
  .center-block .responsive {
    position: relative;
  }
  .center-block .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .center-block .responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
/*(min-width: 768px) and (max-width: 992px)*/
@media only screen and (min-width: 768px) and (max-width: 992px){
  
}

/*(min-width: 992px) and (max-width: 1200px) */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
   
}

/*@media only screen and (min-width: 1200px)*/

@media only screen and (min-width: 1200px){
  
}


